.pic-div, .pic-row {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%
}

.topbar {
  background-color: aquamarine;
  height: 60px;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 10px;
  
}

.jumbotron {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/6f/08/d6/6f08d6db91d5675e04a851d30f85e213.png");

  
}

.botbar {
  height: 40px;
  background-color: aquamarine;
}

.jumbo-inside {
  background-color: rgba(238,224,224, 0);
}
.badge {
  float: right;
  font-size: 20px;
}

.title-middle {
  float: left;
  font-size: 30px;
}